.recent {

  .taxonomy {
    display: inline;
  }

  .tag {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 6px;
    background-color: #e3f3e5;
    border-radius: 4px;
    font-size: 0.8em;
  }

  .category {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 6px;
    background-color: #edf6fd;
    border-radius: 4px;
    font-size: 0.8em;
  }

  ul li {
    margin-bottom: 0.6em;
  }
}

.archive {
  display: inline;
  color: var(--gray-500);
  font-size: 0.9em;
}